# delta pager config starts
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
# delta pager config ends
#
[user]
	name = Sankalp Khare
[alias]
# source: https://dev.to/chilcutt/smarter-git-checkout-with-fzf-2k5n
	cof = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
# source: https://twitter.com/tenderlove/status/1392957802163802112?s=12
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
# source: https://dev.to/tastefulelk/conditional-git-profile-configuration-212b
[includeIf "gitdir:~/code/github.com/sankalp-khare/"]
	path = ~/code/github.com/sankalp-khare/.gitconfig-personal
