# delta pager config starts
# source https://github.com/dandavison/delta#get-started
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true     # use n and N to move between diff sections
    light = false       # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true # display a side-by-side diff view instead of the traditional view

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
# delta pager config ends
#
[user]
	name = Sankalp Khare
[alias]
# source: https://dev.to/chilcutt/smarter-git-checkout-with-fzf-2k5n
	cof = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
# source: https://twitter.com/tenderlove/status/1392957802163802112?s=12
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
# source: https://dev.to/tastefulelk/conditional-git-profile-configuration-212b
[includeIf "gitdir:~/code/github.com/sankalp-khare/"]
	path = ~/code/github.com/sankalp-khare/.gitconfig-personal
